<% layout('layouts/boilerplate') %>
  <!-- Car in -->
  <div class="row">
    <div class="col-5">
      <h1>Car enter</h1>
      <form action="/" method="post">
        <div class="mb-3">
          <label for="license" class="form-label">License Plate</label>
          <input type="text" class="form-control" id="license" aria-describedby="license" placeholder="Enter license plate" name="license">
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Vehicle Type</label>
          <select name="type" class="form-select" id="type">
            <option value="" disabled selected hidden>--Please Choose Vehicle Type--</option>
            <option value="Four Seater">4 Seater</option>
            <option value="Seven Seater">7 Seater</option>
            <option value="Truck">Truck</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-5 ">
      <h1>Car leave</h1>
      <form action="/" method="post">
        <div class="mb-3">
          <label for="license" class="form-label">License Plate</label>
          <input type="text" class="form-control" id="license" aria-describedby="license" placeholder="Enter license plate" name="license">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


  

<!--   
  <form action="/?_method=PATCH" method="post">
    <div>
      <input type="text" name="license" placeholder="Enter license plate">
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>


  <a href="/vehicles">View all vehicles</a>



  <form action="/" method="post">
    <div>
      <input type="text" name="license" placeholder="Enter license plate">
    </div>

    <div>
      <select name="type">
        <option value="" disabled selected hidden>--Please Choose Vehicle Type--</option>
        <option value="Four Seater">4 Seater</option>
        <option value="Seven Seater">7 Seater</option>
        <option value="Truck">Truck</option>
      </select>
    </div>

    <div>
      <button>Submit</button>
    </div>
  </form> -->