<% layout('layouts/boilerplate') %>
  <!-- Car in -->
  <div class="row">
    <div class="col-8 offset-2" style="height:66px;margin-top: 10rem;">
      <%- include('../partials/flash') %>
    </div>
  </div>
  <div class="row">
    <div class="offset-2 col-4">
      <h1>Car enter</h1>
      <form action="/" method="post" novalidate class="validated-form">
        <div class="mb-3">
          <label for="license" class="form-label">License Plate</label>
          <input type="text" class="form-control" id="license" aria-describedby="license"
            placeholder="Enter license plate" name="license" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Vehicle Type</label>
          <select name="type" class="form-select" id="type" required>
            <option value="" disabled selected hidden>--Please Choose Vehicle Type--</option>
            <option value="Four Seater">4 Seater</option>
            <option value="Seven Seater">7 Seater</option>
            <option value="Truck">Truck</option>
          </select>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-4">
      <h1>Car leave</h1>
      <form action="/?_method=PATCH" method="post" class="validated-form" novalidate>
        <div class="mb-3">
          <label for="license" class="form-label">License Plate</label>
          <input type="text" class="form-control" id="license" aria-describedby="license"
            placeholder="Enter license plate" name="license" required>
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  

  